In [12]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [1]:
# print hello world
print("Hello World!")

Hello World!

In [178]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen("https://www.screener.in/company/INFY/consolidated/#quarters")
bsObj = BeautifulSoup(html)

In [179]:
company_ratios = bsObj.find("div",{"class", "company-ratios"}).find_all("li") # type:ignore

In [180]:
alfa = []

In [181]:
for i in company_ratios:
    data_name = i.find("span",{"class": "name"})
    if("High / Low" in data_name.text):
        value = i.find_all("span", {"class" : "number"})
        print(data_name.text)
        for i in value:
            print(i.text)
    else:
        value = i.find("span", {"class" : "number"})
        print(data_name.text)
        print(value.text)

    Market Cap


5,46,725


    Current Price


1,317


    High / Low


1,673
1,185


    Stock P/E


22.8


    Book Value


182


    Dividend Yield


2.58


    ROCE


40.7


    ROE


31.8


    Face Value


5.00

<h1> finding company [sector and domain] </h1>

In [182]:
data_sector  = bsObj.find("div", {"class": "flex flex-space-between"})
data_1 = data_sector.find("p", {"class": "sub"}) # type: ignore
for i in data_1: #type: ignore
    print(i.text)

        Sector:


          IT - Software





        Industry:


          Computers - Software - Large

<h1> finding company Profit/Loss statement </h1>

In [183]:
profit_loss = bsObj.find("section", {"id": "profit-loss"}).find("table",{"class": "data-table responsive-text-nowrap"}) #type: ignore

In [184]:
header = []
all_header = profit_loss.find_all("th") # type: ignore
for i in all_header:

    header.append(max(i.text.split("\n")).strip())

In [185]:
header

['',
 'Mar 2012',
 'Mar 2013',
 'Mar 2014',
 'Mar 2015',
 'Mar 2016',
 'Mar 2017',
 'Mar 2018',
 'Mar 2019',
 'Mar 2020',
 'Mar 2021',
 'Mar 2022',
 'Mar 2023']

In [186]:
# downloading the data
final_list =[]
table_rows = profit_loss.find_all("tr") # type: ignore
for row in table_rows:
    table_data = row.find_all("td") # type: ignore
    temp_list = []
    for i in table_data:
        temp_list.append(i.text)
    
    final_list.append(temp_list)

In [187]:
final_list.pop(0)

[]

In [188]:
target_list = final_list[2]
dict_1 = {}
for j in final_list:
    temp_list = []
    for i in j:
        target = max(i.split("\n")).strip()
        try:
            target = float(target.replace(",",""))
            temp_list.append(target)
        except:
            temp_list.append(target)
    dict_1[temp_list[0]] = temp_list[1:]

In [189]:
final_frame = pd.DataFrame(dict_1)
new_frame = final_frame.T
new_frame.columns = header[1:]

In [190]:
new_frame = new_frame.T

In [191]:
new_frame.to_csv("profit_loss.csv")

In [192]:
new_frame.index

Index(['Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017',
       'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023'],
      dtype='object')

<h1> getting the balance sheet </h1>

In [193]:
balance_sheet = bsObj.find("section", {"id": "balance-sheet"}).find("table",{"class": "data-table responsive-text-nowrap"}) #type: ignore

In [194]:
header = []
all_header = balance_sheet.find_all("th") # type: ignore
for i in all_header:

    header.append(max(i.text.split("\n")).strip())

In [195]:
header.pop(0)

''

In [196]:
# downloading the data
final_list =[]
table_rows = balance_sheet.find_all("tr") # type: ignore
for row in table_rows:
    table_data = row.find_all("td") # type: ignore
    temp_list = []
    for i in table_data:
        temp_list.append(i.text)
    
    final_list.append(temp_list)

In [197]:
final_list.pop(0)

[]

In [198]:
target_list = final_list[2]
dict_1 = {}
for j in final_list:
    temp_list = []
    for i in j:
        target = max(i.split("\n")).strip()
        try:
            target = float(target.replace(",",""))
            temp_list.append(target)
        except:
            temp_list.append(target)
    dict_1[temp_list[0]] = temp_list[1:]

In [199]:
final_frame = pd.DataFrame(dict_1)
new_frame = final_frame.T
new_frame.columns = header

In [200]:
new_frame = new_frame.T
new_frame.to_csv("balance_sheet.csv")

In [201]:
new_frame.index

Index(['Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017',
       'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023'],
      dtype='object')

<h1> Company qutarly result </h1>

In [202]:
qutarly_result = bsObj.find("section", {"id": "quarters"}).find("table",{"class": "data-table responsive-text-nowrap"}) #type: ignore

In [211]:
header = []
all_header = balance_sheet.find_all("th") # type: ignore
for i in all_header:

    header.append(max(i.text.split("\n")).strip())

In [204]:
header.pop(0)

''

In [205]:
# downloading the data
final_list =[]
table_rows = qutarly_result.find_all("tr") # type: ignore
for row in table_rows:
    table_data = row.find_all("td") # type: ignore
    temp_list = []
    for i in table_data:
        temp_list.append(i.text)
    
    final_list.append(temp_list)

In [206]:
final_list.pop(0)

[]

In [207]:
target_list = final_list[2]
dict_1 = {}
for j in final_list:
    temp_list = []
    for i in j:
        target = max(i.split("\n")).strip()
        try:
            target = float(target.replace(",",""))
            temp_list.append(target)
        except:
            temp_list.append(target)
    dict_1[temp_list[0]] = temp_list[1:]

In [210]:
len(header)

12

In [212]:
final_frame = pd.DataFrame(dict_1)
new_frame = final_frame.T
new_frame.columns = header

In [215]:
new_frame = new_frame.T

In [216]:
new_frame.to_csv("qutarly_result.csv")

<h1> calculating all the ratios </h1>

In [217]:
data_balace_sheet = pd.read_csv("balance_sheet.csv", index_col=0)
data_profit_loss = pd.read_csv("profit_loss.csv", index_col=0)
data_qutarly_result = pd.read_csv("qutarly_result.csv", index_col=0)

In [227]:
data_profit_loss.columns

Index(['Sales +', 'Expenses +', 'Operating Profit', 'OPM %', 'Other Income +',
       'Interest', 'Depreciation', 'Profit before tax', 'Tax %', 'Net Profit',
       'EPS in Rs', 'Dividend Payout %'],
      dtype='object')

In [228]:
data_qutarly_result.columns

Index(['Sales +', 'Expenses +', 'Operating Profit', 'OPM %', 'Other Income +',
       'Interest', 'Depreciation', 'Profit before tax', 'Tax %', 'Net Profit',
       'EPS in Rs', 'Raw PDF'],
      dtype='object')

In [236]:
data_profit_loss['Net Profit'],data_qutarly_result['Net Profit']

(Mar 2012     8332.0
 Mar 2013     9429.0
 Mar 2014    10656.0
 Mar 2015    12372.0
 Mar 2016    13489.0
 Mar 2017    14353.0
 Mar 2018    16029.0
 Mar 2019    15410.0
 Mar 2020    16639.0
 Mar 2021    19423.0
 Mar 2022    22146.0
 Mar 2023    24108.0
 Name: Net Profit, dtype: float64,
 NaN         4335.0
 Mar 2012    4272.0
 Mar 2013    4858.0
 Mar 2014    5215.0
 Mar 2015    5078.0
 Mar 2016    5201.0
 Mar 2017    5428.0
 Mar 2018    5822.0
 Mar 2019    5695.0
 Mar 2020    5362.0
 Mar 2021    6026.0
 Mar 2022    6586.0
 Mar 2023    6134.0
 Name: Net Profit, dtype: float64)

<h1> getting financial ratios </h1>

In [24]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen("https://stock-financials.valuestocks.in/en/reliance-ratio-analysis")
bsObj = BeautifulSoup(html)

In [25]:
target_table = bsObj.find("table", {"id": "tblStandalone"})
ratio_list = []
for i in target_table.find_all("tr"):#type: ignore
    ratio_list.append(i.text)

ratio_list

['\n\nMar 2022\nMar 2021\nMar 2020\nMar 2019\nMar 2018\nMar 2017\n',
 '\nOperational\xa0&\xa0Financial\xa0Ratios\n',
 '\nEarnings\xa0Per\xa0Share\xa0(Rs)\n89.73\n76.23\n61.50\n66.17\n60.34\n50.05\n',
 '\nCash\xa0EPS(Rs)\n143.92\n123.81\n96.85\n101.41\n88.20\n69.61\n',
 '\nDividend\xa0Per\xa0Share(Rs)\n8.00\n7.00\n6.50\n6.50\n6.00\n11.00\n',
 '\nBook\xa0NAV/Share(Rs)\n1,151.59\n1,023.42\n708.55\n653.23\n495.57\n888.20\n',
 '\nTax\xa0Rate(%)\n19.43\n3.13\n25.66\n27.92\n27.03\n25.41\n',
 '\nMargin\xa0Ratios\n',
 '\nCore\xa0EBITDA\xa0Margin(%)\n13.93\n14.82\n13.47\n13.46\n14.90\n13.99\n',
 '\nEBIT\xa0Margin(%)\n12.42\n14.12\n11.44\n11.46\n13.33\n13.32\n',
 '\nPre\xa0Tax\xa0Margin(%)\n10.58\n10.19\n8.11\n8.82\n11.46\n12.16\n',
 '\nPAT\xa0Margin\xa0(%)\n8.52\n9.87\n6.03\n6.36\n8.36\n9.07\n',
 '\nCash\xa0Profit\xa0Margin\xa0(%)\n12.28\n14.80\n9.39\n9.70\n12.24\n12.60\n',
 '\nPerformance\xa0Ratios\n',
 '\nROA(%)\n4.79\n4.29\n3.68\n4.39\n4.75\n4.59\n',
 '\nROE(%)\n9.39\n9.60\n9.51\n11.68\n12.95\n12.13\n',
 '\nROCE(%)\n9.86\n8.76\n10.34\n12.05\n11.80\n10.09\n',
 '\nAsset\xa0Turnover(x)\n0.56\n0.43\n0.61\n0.69\n0.57\n0.51\n',
 '\nSales/Fixed\xa0Asset(x)\n0.96\n0.71\n0.98\n1.06\n0.91\n0.95\n',
 '\nWorking\xa0Capital/Sales(x)\n20.67\n5.65\n-4.27\n-7.33\n-3.31\n-3.73\n',
 '\nEfficiency\xa0Ratios\n',
 '\nFixed\xa0Capital/Sales(x)\n1.05\n1.41\n1.02\n0.94\n1.09\n1.06\n',
 '\nReceivable\xa0days\n9.82\n13.09\n13.76\n13.91\n10.90\n6.99\n',
 '\nInventory\xa0Days\n43.61\n52.65\n39.12\n37.48\n46.52\n52.75\n',
 '\nPayable\xa0days\n103.08\n128.15\n92.33\n99.50\n125.22\n117.54\n',
 '\nValuation\xa0Parameters\n',
 '\nPE\xa0Ratio(x)\n29.35\n26.28\n17.75\n20.21\n14.36\n6.47\n',
 '\nPrice/Cash\xa0EPS(x)\n18.30\n16.18\n11.38\n13.31\n9.92\n9.39\n',
 '\nPrice/Book(x)\n2.29\n1.96\n1.57\n2.09\n1.78\n1.49\n',
 '\nDivident\xa0Yield(%)\n0.30\n0.35\n0.58\n0.48\n0.68\n0.83\n',
 '\nEV/Net\xa0Sales(x)\n2.87\n3.27\n1.69\n1.91\n1.88\n1.91\n',
 '\nEV/Core\xa0EBITDA(x)\n16.04\n15.72\n9.89\n11.73\n9.96\n10.51\n',
 '\nEV/EBIT(x)\n20.44\n20.04\n13.38\n15.16\n12.86\n13.29\n',
 '\nEV/CE(x)\n1.34\n1.16\n0.87\n1.09\n0.91\n0.83\n',
 '\nM\xa0Cap\xa0/\xa0Sales\n2.55\n2.77\n1.18\n1.42\n1.33\n1.28\n',
 '\nGrowth\xa0Ratio\n',
 '\nNet\xa0Sales\xa0Growth(%)\n49.91\n-21.86\n4.98\n45.33\n28.26\n11.45\n',
 '\nCore\xa0EBITDA\xa0Growth(%)\n29.20\n-5.00\n10.39\n24.86\n33.23\n3.50\n',
 '\nEBIT\xa0Growth(%)\n29.31\n0.81\n5.46\n24.73\n30.52\n4.26\n',
 '\nPAT\xa0Growth(%)\n26.95\n33.82\n0.10\n10.31\n20.31\n1.07\n',
 '\nEPS\xa0Growth(%)\n17.72\n23.95\n-7.07\n9.66\n20.57\n0.15\n',
 '\nFinancial\xa0Stability\xa0Ratios\n',
 '\nTotal\xa0Debt/Equity(x)\n0.34\n0.38\n0.75\n0.75\n0.75\n0.75\n',
 '\nCurrent\xa0Ratio(x)\n1.12\n1.34\n0.63\n0.73\n0.59\n0.62\n',
 '\nQuick\xa0Ratio(x)\n0.78\n1.05\n0.45\n0.52\n0.39\n0.42\n',
 '\nInterest\xa0Cover(x)\n6.75\n3.59\n3.43\n4.34\n7.13\n11.43\n',
 '\nTotal\xa0Debt/Mcap(x)\n0.15\n0.19\n0.48\n0.33\n0.39\n0.46\n']

In [35]:
ratio_list[1].split("\n")

['',
 'Earnings\xa0Per\xa0Share\xa0(Rs)',
 '89.73',
 '76.23',
 '61.50',
 '66.17',
 '60.34',
 '50.05',
 '']

In [36]:
refined_list =[]
for i in ratio_list:
    temp_string = (i.split("\n"))

    temp_list = []
    while(len(temp_string) > 0):
        target_string = temp_string[0]
        if(target_string == ''):
            temp_string.pop(0)
        else:
            target_string = target_string.replace('\xa0', '')
            try:
                target_string = float(target_string)
            except:
                target_string = target_string
            
            temp_string.pop(0)
        
        temp_list.append(target_string)

    refined_list.append(temp_list)

In [38]:
for i in range(len(refined_list)):
    if(i == 0):
        refined_list[i].pop(0)
        refined_list[i].pop(0)
        refined_list[i].pop()
    else:
        refined_list[i].pop(0)
        refined_list[i].pop()

In [55]:
# creating dataframe
dataframe_1 = pd.DataFrame()

for i in range(len(refined_list[1:])):
    if(len(refined_list[i]) == 1 or len(refined_list[i]) == 6):
        pass
    else:
        dataframe_1[refined_list[i][0]] = refined_list[i][1:]

In [58]:
refined_list[0]

['Mar 2022', 'Mar 2021', 'Mar 2020', 'Mar 2019', 'Mar 2018', 'Mar 2017']

In [59]:
dataframe_1.index = refined_list[0]

In [61]:
dataframe_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Mar 2022 to Mar 2017
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EarningsPerShare(Rs)     6 non-null      float64
 1   CashEPS(Rs)              6 non-null      float64
 2   DividendPerShare(Rs)     6 non-null      float64
 3   BookNAV/Share(Rs)        6 non-null      object
 4   TaxRate(%)               6 non-null      float64
 5   CoreEBITDAMargin(%)      6 non-null      float64
 6   EBITMargin(%)            6 non-null      float64
 7   PreTaxMargin(%)          6 non-null      float64
 8   PATMargin(%)             6 non-null      float64
 9   CashProfitMargin(%)      6 non-null      float64
 10  ROA(%)                   6 non-null      float64
 11  ROE(%)                   6 non-null      float64
 12  ROCE(%)                  6 non-null      float64
 13  AssetTurnover(x)         6 non-null      float64
 14  Sales/FixedAsset(x)      6 non-null      float64
 15  WorkingCapital/Sales(x)  6 non-null      float64
 16  FixedCapital/Sales(x)    6 non-null      float64
 17  Receivabledays           6 non-null      float64
 18  InventoryDays            6 non-null      float64
 19  Payabledays              6 non-null      float64
 20  PERatio(x)               6 non-null      float64
 21  Price/CashEPS(x)         6 non-null      float64
 22  Price/Book(x)            6 non-null      float64
 23  DividentYield(%)         6 non-null      float64
 24  EV/NetSales(x)           6 non-null      float64
 25  EV/CoreEBITDA(x)         6 non-null      float64
 26  EV/EBIT(x)               6 non-null      float64
 27  EV/CE(x)                 6 non-null      float64
 28  MCap/Sales               6 non-null      float64
 29  NetSalesGrowth(%)        6 non-null      float64
 30  CoreEBITDAGrowth(%)      6 non-null      float64
 31  EBITGrowth(%)            6 non-null      float64
 32  PATGrowth(%)             6 non-null      float64
 33  EPSGrowth(%)             6 non-null      float64
 34  TotalDebt/Equity(x)      6 non-null      float64
 35  CurrentRatio(x)          6 non-null      float64
 36  QuickRatio(x)            6 non-null      float64
 37  InterestCover(x)         6 non-null      float64
dtypes: float64(37), object(1)
memory usage: 1.8+ KB

In [9]:
def book_value_refined(x):
    try:
        return float(x.replace(",",""))
    except:
        return x

In [10]:
def ratios(ticker):
    html = urlopen("https://stock-financials.valuestocks.in/en/{}-ratio-analysis".format(ticker))
    bsObj = BeautifulSoup(html)
    target_table = bsObj.find("table", {"id": "tblStandalone"})
    ratio_list = []
    for i in target_table.find_all("tr"):#type: ignore
        ratio_list.append(i.text)
    
    refined_list =[]
    for i in ratio_list:
        temp_string = (i.split("\n"))
        temp_list = []
        while(len(temp_string) > 0):
            target_string = temp_string[0]
            if(target_string == ''):
                temp_string.pop(0)
            else:
                target_string = target_string.replace('\xa0', '')
                try:
                    target_string = float(target_string)
                except:
                    target_string = target_string
                temp_string.pop(0)
            temp_list.append(target_string)
        
        refined_list.append(temp_list)
    for  ii in range(len(refined_list)):
        if(ii == 0):
            refined_list[ii].pop(0)
            refined_list[ii].pop(0)
            refined_list[ii].pop()
        else:
            refined_list[ii].pop(0)
            refined_list[ii].pop()
    #print(refined_list)
    dataframe_1 = pd.DataFrame()
    for i in range(len(refined_list[1:])):
        if(len(refined_list[i]) == 1 or len(refined_list[i]) == 6):
            pass
        else:
            dataframe_1[refined_list[i][0]] = refined_list[i][1:]
    dataframe_1['BookNAV/Share(Rs)'] = dataframe_1['BookNAV/Share(Rs)'].apply(book_value_refined)
    dataframe_1.index = pd.to_datetime(refined_list[0])
    return dataframe_1

In [13]:
reliace_ratio = ratios("reliance")

In [14]:
reliace_ratio.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2022-03-01 to 2017-03-01
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EarningsPerShare(Rs)     6 non-null      float64
 1   CashEPS(Rs)              6 non-null      float64
 2   DividendPerShare(Rs)     6 non-null      float64
 3   BookNAV/Share(Rs)        6 non-null      float64
 4   TaxRate(%)               6 non-null      float64
 5   CoreEBITDAMargin(%)      6 non-null      float64
 6   EBITMargin(%)            6 non-null      float64
 7   PreTaxMargin(%)          6 non-null      float64
 8   PATMargin(%)             6 non-null      float64
 9   CashProfitMargin(%)      6 non-null      float64
 10  ROA(%)                   6 non-null      float64
 11  ROE(%)                   6 non-null      float64
 12  ROCE(%)                  6 non-null      float64
 13  AssetTurnover(x)         6 non-null      float64
 14  Sales/FixedAsset(x)      6 non-null      float64
 15  WorkingCapital/Sales(x)  6 non-null      float64
 16  FixedCapital/Sales(x)    6 non-null      float64
 17  Receivabledays           6 non-null      float64
 18  InventoryDays            6 non-null      float64
 19  Payabledays              6 non-null      float64
 20  PERatio(x)               6 non-null      float64
 21  Price/CashEPS(x)         6 non-null      float64
 22  Price/Book(x)            6 non-null      float64
 23  DividentYield(%)         6 non-null      float64
 24  EV/NetSales(x)           6 non-null      float64
 25  EV/CoreEBITDA(x)         6 non-null      float64
 26  EV/EBIT(x)               6 non-null      float64
 27  EV/CE(x)                 6 non-null      float64
 28  MCap/Sales               6 non-null      float64
 29  NetSalesGrowth(%)        6 non-null      float64
 30  CoreEBITDAGrowth(%)      6 non-null      float64
 31  EBITGrowth(%)            6 non-null      float64
 32  PATGrowth(%)             6 non-null      float64
 33  EPSGrowth(%)             6 non-null      float64
 34  TotalDebt/Equity(x)      6 non-null      float64
 35  CurrentRatio(x)          6 non-null      float64
 36  QuickRatio(x)            6 non-null      float64
 37  InterestCover(x)         6 non-null      float64
dtypes: float64(38)
memory usage: 1.8 KB

In [15]:
reliace_ratio

,EarningsPerShare(Rs),CashEPS(Rs),DividendPerShare(Rs),BookNAV/Share(Rs),TaxRate(%),CoreEBITDAMargin(%),EBITMargin(%),PreTaxMargin(%),PATMargin(%),CashProfitMargin(%),...,MCap/Sales,NetSalesGrowth(%),CoreEBITDAGrowth(%),EBITGrowth(%),PATGrowth(%),EPSGrowth(%),TotalDebt/Equity(x),CurrentRatio(x),QuickRatio(x),InterestCover(x)
2022-03-01,89.73,143.92,8.0,1151.59,19.43,13.93,12.42,10.58,8.52,12.28,...,2.55,49.91,29.20,29.31,26.95,17.72,0.34,1.12,0.78,6.75
2021-03-01,76.23,123.81,7.0,1023.42,3.13,14.82,14.12,10.19,9.87,14.80,...,2.77,-21.86,-5.00,0.81,33.82,23.95,0.38,1.34,1.05,3.59
2020-03-01,61.50,96.85,6.5,708.55,25.66,13.47,11.44,8.11,6.03,9.39,...,1.18,4.98,10.39,5.46,0.10,-7.07,0.75,0.63,0.45,3.43
2019-03-01,66.17,101.41,6.5,653.23,27.92,13.46,11.46,8.82,6.36,9.70,...,1.42,45.33,24.86,24.73,10.31,9.66,0.75,0.73,0.52,4.34
2018-03-01,60.34,88.20,6.0,495.57,27.03,14.90,13.33,11.46,8.36,12.24,...,1.33,28.26,33.23,30.52,20.31,20.57,0.75,0.59,0.39,7.13
2017-03-01,50.05,69.61,11.0,888.20,25.41,13.99,13.32,12.16,9.07,12.60,...,1.28,11.45,3.50,4.26,1.07,0.15,0.75,0.62,0.42,11.43

In [16]:
from spare_parts import get_company_list
company_list = get_company_list()

In [17]:
shortlisted = []
for i in company_list[:500]:
    try:
        data_frame = ratios(i[1])
        print(i[1])

    except:
        shortlisted.append(i[1])

RELIANCE
TCS
WIPRO
ITC
LT
MARUTI
TITAN
ONGC
NTPC
HINDALCO
IOC
GRASIM
BAJAJ-AUTO
DABUR
DLF
SIEMENS
CIPLA
SRF
BPCL
INDIGO
BRITANNIA
HAVELLS
TATACONSUM
GAIL
MARICO
MPHASIS
UPL
BEL
NMDC
IDBI
TRENT
VOLTAS
CONCOR
SAIL
ACC
BIOCON
UBL
PNB
PERSISTENT
LUPIN
ATUL
PFC
PETRONET
NHPC
IDEA
MRF
TRIDENT
COFORGE
IGL
CRISIL
COROMANDEL
THERMAX
ESCORTS
FORTIS
POONAWALLA
TANLA
PRESTIGE
BHEL
METROBRAND
ENDURANCE
IRB
GSPL
GNFC
BSE
GLENMARK
RATNAMANI
BRIGADE
PVR
KEI
REDINGTON
IIFL
HFCL
SJVN
LXCHEM
CYIENT
JSL
CESC
MASTEK
IDFC
KEC
MANAPPURAM
SAREGAMA
ITI
ALLCARGO
FSL
FACT
SUZLON
ANURAS
ECLERX
SYMPHONY
POLYPLEX
GRANULES
BEML
TEAMLEASE
PRIVISCL
MRPL
SOBHA
MMTC
HUDCO
NBCC
GSFC
RTNINDIA
RITES
JUBLPHARMA
EPL
BBTC
GAEL
RAYMOND
EDELWEISS
GOCOLORS
SCI
NAZARA
HEG
GHCL
INFIBEAM
CRAFTSMAN
HIKAL
RCF
BARBEQUE
KRBL
SUPRAJIT
TCI

In [19]:
shortlisted[:100]

['HDFCBANK',
 'INFY',
 'ICICIBANK',
 'HINDUNILVR',
 'SBIN',
 'BAJFINANCE',
 'HDFC',
 'BHARTIARTL',
 'KOTAKBANK',
 'HCLTECH',
 'ADANIGREEN',
 'ASIANPAINT',
 'BAJAJFINSV',
 'ADANITRANS',
 'DMART',
 'ATGL',
 'AXISBANK',
 'ADANIENT',
 'SUNPHARMA',
 'ULTRACEMCO',
 'JSWSTEEL',
 'ADANIPORTS',
 'TATASTEEL',
 'POWERGRID',
 'VEDL',
 'TECHM',
 'TATAMOTORS',
 'HINDZINC',
 'PIDILITIND',
 'DIVISLAB',
 'HDFCLIFE',
 'COALINDIA',
 'SBILIFE',
 'LTI',
 'M&M',
 'SHREECEM',
 'SBICARD',
 'NYKAA',
 'GODREJCP',
 'TATAPOWER',
 'INDUSINDBK',
 'ICICIPRULI',
 'DRREDDY',
 'ADANIPOWER',
 'MINDTREE',
 'BERGEPAINT',
 'EICHERMOT',
 'AWL',
 'ICICIGI',
 'APOLLOHOSP',
 'ZOMATO',
 'MCDOWELL-N',
 'IRCTC',
 'INDUSTOWER',
 'AMBUJACEM',
 'CHOLAFIN',
 'NAUKRI',
 'BANKBARODA',
 'BAJAJHLDNG',
 'TATAELXSI',
 'JINDALSTEL',
 'LODHA',
 'LTTS',
 'GLAND',
 'MUTHOOTFIN',
 'PEL',
 'JSWENERGY',
 'HAL',
 'BANDHANBNK',
 'PAGEIND',
 'TORNTPHARM',
 'PGHH',
 'GODREJPROP',
 'HEROMOTOCO',
 'HDFCAMC',
 'ABB',
 'MOTHERSUMI',
 'ALKEM',
 'PIIND',
 'BOSCHLTD',
 'COLPAL',
 'CANBK',
 'BALKRISIND',
 'STARHEALTH',
 'VBL',
 'ASTRAL',
 'SONACOMS',
 'AUBANK',
 'AUROPHARMA',
 'HINDPETRO',
 'ZYDUSLIFE',
 'POLYCAB',
 'HONAUT',
 'TATACOMM',
 'JUBLFOOD',
 'AARTIIND',
 'GUJGASLTD',
 'ASHOKLEY',
 'IOB',
 'PAYTM']

In [20]:
selected_list = []
for i in company_list[:500]:
    if(i[1] not in shortlisted):
        selected_list.append(i[1])

selected_list

['RELIANCE',
 'TCS',
 'WIPRO',
 'ITC',
 'LT',
 'MARUTI',
 'TITAN',
 'ONGC',
 'NTPC',
 'HINDALCO',
 'IOC',
 'GRASIM',
 'BAJAJ-AUTO',
 'DABUR',
 'DLF',
 'SIEMENS',
 'CIPLA',
 'SRF',
 'BPCL',
 'INDIGO',
 'BRITANNIA',
 'HAVELLS',
 'TATACONSUM',
 'GAIL',
 'MARICO',
 'MPHASIS',
 'UPL',
 'BEL',
 'NMDC',
 'IDBI',
 'TRENT',
 'VOLTAS',
 'CONCOR',
 'SAIL',
 'ACC',
 'BIOCON',
 'UBL',
 'PNB',
 'PERSISTENT',
 'LUPIN',
 'ATUL',
 'PFC',
 'PETRONET',
 'NHPC',
 'IDEA',
 'MRF',
 'TRIDENT',
 'COFORGE',
 'IGL',
 'CRISIL',
 'COROMANDEL',
 'THERMAX',
 'ESCORTS',
 'FORTIS',
 'POONAWALLA',
 'TANLA',
 'PRESTIGE',
 'BHEL',
 'METROBRAND',
 'ENDURANCE',
 'IRB',
 'GSPL',
 'GNFC',
 'BSE',
 'GLENMARK',
 'RATNAMANI',
 'BRIGADE',
 'PVR',
 'KEI',
 'REDINGTON',
 'IIFL',
 'HFCL',
 'SJVN',
 'LXCHEM',
 'CYIENT',
 'JSL',
 'CESC',
 'MASTEK',
 'IDFC',
 'KEC',
 'MANAPPURAM',
 'SAREGAMA',
 'ITI',
 'ALLCARGO',
 'FSL',
 'FACT',
 'SUZLON',
 'ANURAS',
 'ECLERX',
 'SYMPHONY',
 'POLYPLEX',
 'GRANULES',
 'BEML',
 'TEAMLEASE',
 'PRIVISCL',
 'MRPL',
 'SOBHA',
 'MMTC',
 'HUDCO',
 'NBCC',
 'GSFC',
 'RTNINDIA',
 'RITES',
 'JUBLPHARMA',
 'EPL',
 'BBTC',
 'GAEL',
 'RAYMOND',
 'EDELWEISS',
 'GOCOLORS',
 'SCI',
 'NAZARA',
 'HEG',
 'GHCL',
 'INFIBEAM',
 'CRAFTSMAN',
 'HIKAL',
 'RCF',
 'BARBEQUE',
 'KRBL',
 'SUPRAJIT',
 'TCI']

In [21]:
data_1 = open("selected_list.txt", "w")
data_1.write(str(selected_list) + "\n")
data_1.write(str(shortlisted) + "\n")

4398

In [22]:
data_1.close()