In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
data_raw = pd.read_csv('ml_dataset.csv')
data_raw.head(10)

,Unnamed: 0,Open,High,Low,Close,Adj Close,adx,adx_pos,adx_neg,obv,...,macdsignal,signal,Volume,ma_20,ma_50,ma_200,ma_20_200,ma_50_200,profit/loss,outcome
0,NaN,18.180323,19.131887,18.068146,19.131887,13.117092,42.655607,49.538213,10.336113,914100854,...,0.804423,True,169563456,16.697107,15.832846,15.848814,True,False,4.413564,profit
1,NaN,20.474136,20.474136,18.373730,18.656103,12.790886,44.884183,52.856642,7.948559,717411407,...,0.868068,True,196689447,16.883678,15.943562,15.876747,True,True,4.003538,profit
2,NaN,18.025595,19.108679,18.025595,18.849512,12.923492,46.164983,46.847337,10.699233,885667392,...,0.931193,True,168255985,17.070901,16.057521,15.906327,True,True,4.204683,profit
3,NaN,21.971111,22.203201,20.733303,20.961523,14.371512,39.557426,32.660708,29.012677,580520517,...,0.992235,False,261983518,21.729727,20.174654,17.510383,True,True,-2.649687,loss
4,NaN,26.156454,26.218346,25.367352,25.553022,18.161884,19.865585,21.531870,40.143903,3768660433,...,-0.177864,False,135990591,27.384028,27.123779,23.279698,True,True,-2.587795,loss
5,NaN,58.935188,60.846058,58.277603,58.548374,41.613422,29.954955,78.911531,8.135712,5711375732,...,2.056159,True,80476056,32.915236,29.958512,25.353120,True,True,31.850378,profit
6,NaN,58.347229,58.347229,52.699726,52.784824,37.516960,31.820889,68.765905,19.351439,5615604588,...,2.916322,True,95771144,34.807578,30.853662,25.626073,True,True,29.223902,profit
7,NaN,53.976215,58.037777,53.976215,57.890785,41.146038,33.553541,61.160193,17.211113,5725656124,...,3.964935,True,110051536,37.005978,31.913941,25.947115,True,True,36.252335,profit
8,NaN,29.227768,31.355253,29.227768,30.860128,21.933924,47.458607,47.348492,8.381235,6420295994,...,0.978651,True,70544961,27.969860,26.777351,26.152427,True,True,6.312826,profit
9,NaN,30.248960,30.929756,30.016872,30.751822,21.856945,49.572283,48.399216,12.462369,6359091083,...,1.115080,True,41578622,28.603644,27.235459,26.298128,True,True,6.498499,profit

In [72]:
data_raw.shape

(68740, 22)

In [91]:
data_raw['profit/loss'].sum()

2673627.9078359604

<h1> EDA </h1>

In [74]:
data_raw['outcome'].value_counts()

outcome
profit    34370
loss      34370
Name: count, dtype: int64

In [73]:
data_raw.shape

(68740, 22)

In [29]:
data_raw.columns

Index(['Unnamed: 0', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'adx',
       'adx_pos', 'adx_neg', 'obv', 'ulcer_index', 'macd', 'macdsignal',
       'signal', 'Volume', 'ma_20', 'ma_50', 'ma_200', 'ma_20_200',
       'ma_50_200', 'profit/loss', 'outcome'],
      dtype='object')

In [30]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 0 to 68739
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Open         161 non-null    float64
 2   High         161 non-null    float64
 3   Low          161 non-null    float64
 4   Close        161 non-null    float64
 5   Adj Close    161 non-null    float64
 6   adx          161 non-null    float64
 7   adx_pos      161 non-null    float64
 8   adx_neg      161 non-null    float64
 9   obv          161 non-null    int64
 10  ulcer_index  161 non-null    float64
 11  macd         161 non-null    float64
 12  macdsignal   161 non-null    float64
 13  signal       161 non-null    bool
 14  Volume       161 non-null    int64
 15  ma_20        161 non-null    float64
 16  ma_50        161 non-null    float64
 17  ma_200       161 non-null    float64
 18  ma_20_200    161 non-null    bool
 19  ma_50_200    161 non-null    bool
 20  profit/loss  161 non-null    float64
 21  outcome      161 non-null    object
dtypes: bool(3), float64(16), int64(2), object(1)
memory usage: 25.6+ KB

In [75]:
# dropping unnessary columns
data_raw.drop(['Unnamed: 0'], axis=1, inplace=True)

In [76]:
data_raw['signal'].replace({True: 1, False: 0}, inplace=True)

In [77]:
data_raw['outcome'].replace({'profit': 1, 'loss': 0}, inplace=True)

In [78]:
data_raw['ma_20_200'].replace({True: 1, False: 0}, inplace=True)

In [79]:
data_raw['ma_50_200'].replace({True: 1, False: 0}, inplace=True)

In [80]:
data_raw.tail(10)

,Open,High,Low,Close,Adj Close,adx,adx_pos,adx_neg,obv,ulcer_index,...,macdsignal,signal,Volume,ma_20,ma_50,ma_200,ma_20_200,ma_50_200,profit/loss,outcome
68730,2312.000000,2337.850098,2287.100098,2319.750000,2305.370605,22.275374,33.840686,12.929183,15475166275,1.736297,...,37.132238,1,27445768,2140.384818,2031.277412,1671.379046,1,1,467.949951,1
68731,2325.000000,2360.000000,2282.000000,2302.550049,2288.277100,24.086341,33.383236,11.842641,15454831002,1.553065,...,44.552302,1,20335273,2155.829126,2041.915555,1677.659354,1,1,688.000000,1
68732,2311.949951,2325.750000,2288.149902,2318.850098,2304.476318,25.767954,31.987711,11.347581,15467373826,1.548915,...,52.152051,1,12542824,2171.354933,2052.775733,1684.039362,1,1,777.200073,1
68733,2101.949951,2101.949951,2018.500000,2029.099976,2016.522217,20.641296,13.744624,30.083967,15442998231,5.388871,...,-12.762735,0,17225212,2174.166555,2150.654991,1812.419164,1,1,-258.400024,0
68734,1894.300049,1913.099976,1830.000000,1841.949951,1830.532349,21.082995,16.976350,35.186568,15405048243,5.839922,...,-2.813662,0,20173258,1955.630592,1978.131269,1888.582344,1,1,-208.750000,0
68735,2487.000000,2529.899902,2475.300049,2524.449951,2516.872314,53.058583,37.509366,6.623193,15640208326,1.572820,...,83.289677,1,7095022,2387.252137,2279.462509,2103.530697,1,1,530.299927,1
68736,2534.000000,2564.899902,2512.800049,2548.050049,2540.401611,54.509440,39.796382,6.112654,15648531595,1.572820,...,85.706289,1,8323269,2402.566224,2289.995354,2107.953775,1,1,596.600098,1
68737,2570.000000,2570.000000,2520.050049,2527.850098,2520.262207,55.889748,37.615297,5.662027,15644045874,1.583578,...,87.729914,1,4485721,2414.498021,2299.322991,2112.131848,1,1,577.150146,1
68738,2305.000000,2339.899902,2243.399902,2255.750000,2248.979004,17.298194,17.033615,37.447366,15628405318,3.954363,...,-11.307584,0,11466725,2381.746865,2403.215785,2324.489765,1,1,-227.100098,0
68739,2243.000000,2254.000000,2202.199951,2225.899902,2225.899902,26.080807,12.951114,36.214813,15569970603,4.665478,...,-30.151463,0,8474595,2335.044472,2392.334727,2471.255832,0,0,-230.550049,0

In [81]:
data_raw[data_raw['outcome'] == 1]['profit/loss'].sum() - abs(data_raw[data_raw['outcome'] == 0]['profit/loss'].sum())

2673627.9078359604

<h1> applying machine learning </h1s>

In [82]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

In [83]:
# applying standard scaler to the dataset
#scaler = StandardScaler()
#data_scaled = scaler.fit_transform(data_raw.drop(['outcome'], axis=1))

In [84]:
# splitting the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(data_raw.drop(['outcome','profit/loss'],axis = 1),data_raw['outcome'], test_size=0.2, random_state=42)

In [100]:
list(X_train.columns)

['Open',
 'High',
 'Low',
 'Close',
 'Adj Close',
 'adx',
 'adx_pos',
 'adx_neg',
 'obv',
 'ulcer_index',
 'macd',
 'macdsignal',
 'signal',
 'Volume',
 'ma_20',
 'ma_50',
 'ma_200',
 'ma_20_200',
 'ma_50_200']

In [101]:
data = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'adx','adx_pos','adx_neg','obv','ulcer_index','macd','macdsignal','signal','Volume', 'ma_20','ma_50','ma_200','ma_20_200','ma_50_200']

In [102]:
data_1 = ['Open',
 'High',
 'Low',
 'Close',
 'Adj Close',
 'adx',
 'adx_pos',
 'adx_neg',
 'obv',
 'ulcer_index',
 'macd',
 'macdsignal',
 'signal',
 'Volume',
 'ma_20',
 'ma_50',
 'ma_200',
 'ma_20_200',
 'ma_50_200']

In [105]:
final_list = []
for i in data_1:
    final_list.append(data.index(i))
final_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [86]:
# applying logistic regression
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
y_pred = log_reg.predict(X_test)
# printing accuracy score
print('Accuracy Score: ', accuracy_score(y_test, y_pred))

Accuracy Score:  0.5857579284259529

In [87]:
# applying other classification algorithms
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# KNN
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print('Accuracy Score: ', accuracy_score(y_test, y_pred))

Accuracy Score:  1.0

In [88]:
# using Random Forest classifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print('Accuracy Score: ', accuracy_score(y_test, y_pred))

Accuracy Score:  1.0

In [94]:
# saving model
import pickle
pickle.dump(rf, open('model.pkl', 'wb'))

In [96]:
# calling the model
model = pickle.load(open('model.pkl', 'rb'))

In [97]:
model.predict()

array([0, 1], dtype=int64)

In [89]:
# using Decision Tree classifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print('Accuracy Score: ', accuracy_score(y_test, y_pred))

Accuracy Score:  1.0

In [93]:
# applying cross validation
from sklearn.model_selection import cross_val_score
# applyig
scores = cross_val_score(dt, X_train, y_train, cv=5)
print('Cross Validation Score: ', scores.mean())

Cross Validation Score:  1.0